<DOCTYPE html> 

<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina:'Fontes'}); %>

 <main>
  <div class="jumbotron">
    <h1>Referências</h1>
    <article>
      <ul>
        <li>Rocketseat, Discover curso de NodeEJS</li>
        <li>Videos do youtube</li>
      </ul>
    </article>
  </div>
 </main>
  
</body>
  <%- include('../partials/footer'); %>
</html
